.section-update{
  margin-top: 40px;
}
.updates{
    text-align: center;
    text-transform: uppercase;
    color:  #e67e22;
    font-size: 15px;
}
.news-update{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: #fff;
}
.news-letter{
    background-image: url("../images/sea.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    height: 150px;
    background-size: cover;
    background-position: center; 
    opacity: .8;
    
}
input[type=email] {
  width: 70%;
  padding: 12px 20px;
  margin-top: 10px;
  margin-left: 10%;
  box-sizing: border-box;
 
}

.email{
    color: #000;
   
}


/*Big tablet to 1200px (widths smaller that the 1140px row)*/
@media only screen and (max-width:1200px){
   input[type=email] {
      width: 30%;
      padding: 12px 20px;
      margin-top: 10px;
      margin-left: 35%;
}
  
}

/*small tablets to big tablets: from 768px to 1023px*/
@media only screen and (max-width:1023px){
 
  input[type=email] {
      width: 40%;
      padding: 12px 20px;
      margin-top: 10px;
      margin-left: 30%;
}

}

/*small phones to small tablets: from 481px-767px*/
@media only screen and (max-width:767px){
  .input-field{
   margin-left: 40%;
  }
  input[type=email] {
  width: 50%;
  padding: 12px 20px;
  margin-top: 10px;
  margin-left: 25%;

 
}
}

/*small phones from 0 to 480px*/
@media only screen and (max-width:480px){

}