.contact-header{
    text-align: center;
    text-transform: uppercase;
    color:  #e67e22;
    padding-top: 5rem;
    margin-top: -2.2rem;
    font-size: 1.5rem;
}
.contact-sub{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 2rem;
}
.contact-form{
    margin: 0rem 10rem;
    width: 100%;
}

.contact-img{
    margin-left: 20%;
    height: 16rem;
    width: 25rem;

}

    input[type=text] {
            background-color: #edebe5;
            border: none;    
}
         textarea{
            margin-top: 1rem;
            background-color: #edebe5;
            border: none;
            padding-right: 51%;
            padding-bottom: 7rem;
}
        textarea[placeholder]{
            padding-left: 2rem;
   }
        .btn-submit{
            display: inline-block;
            padding: 1rem 3rem;
            text-decoration: none;
            background-color: #e67e22;
            color: #fff;
            border: none;
            margin-left: 72%;
            cursor: pointer;
            margin-top: 1rem;
}
        .contact-img{
            margin-left: 6%;
            height: 30rem;
            width: 42rem;
            margin-top: 1rem;
}

@media only screen and (min-width:2000px){
    .contact-header{
        font-size: 2rem;
        margin-top: 3rem;
    }

    .contact-sub{
        font-size: 3rem;
    }
    input[type=text] {
        font-size: 1rem;
        height: 3.5rem;
        
    }
    .contact-img{
        margin-top: 0rem;
        height: 32rem;
        padding-left: 2rem;
    }
    textarea{
        padding-right: 21rem;
        
    }
     .btn-submit{
         font-size: 2rem;
          margin-left: 34rem
     }
     textarea[placeholder]{
         font-size: 2rem;
         padding-left: 1rem;
     }
}
/*Big tablet to 1200px (widths smaller that the 1140px row)*/
@media only screen and (max-width:1200px){
    input[type=text] {
            background-color: #edebe5;
            border: none;    
}
         textarea{
            margin-top: 1rem;
            background-color: #edebe5;
            border: none;
            padding-right: 49%;
            padding-bottom: 6rem;
}
        textarea[placeholder]{
            padding-left: 2rem;
   }
        .btn-submit{
            display: inline-block;
            padding: 1rem 3rem;
            text-decoration: none;
            background-color: #e67e22;
            color: #fff;
            border: none;
            margin-left: 72%;
            cursor: pointer;
            margin-top: 1rem;
}
        .contact-img{
            margin-left: 6%;
            height: 28rem;
            width: 38rem;
            margin-top: 1rem;
}

  
}

/*small tablets to big tablets: from 768px to 1023px*/
@media only screen and (max-width:1023px){
        input[type=text] {
            background-color: #edebe5;
            border: none;
            
            
}
         textarea{
            margin-top: 1rem;
            background-color: #edebe5;
            border: none;
            padding-right: 21rem;
            padding-bottom: 4rem;
}
        textarea[placeholder]{
            padding-left: 2rem;
   }
        .btn-submit{
            display: inline-block;
            padding: 1rem 3rem;
            text-decoration: none;
            background-color: #e67e22;
            color: #fff;
            border: none;
            margin-left: 68%;
            cursor: pointer;
            margin-top: 1rem;
}
        .contact-img{
            margin-left: 10%;
            height: 26rem;
            width: 35rem;
            margin-top: 1rem;

}

}

/*small phones to small tablets: from 481px-767px*/
@media only screen and (max-width:767px){
    input[type=text] {
        background-color: #edebe5;
        border: none;
}
    textarea{
        margin-top: 1rem;
        background-color: #edebe5;
        border: none;
        padding-right: 9.5rem;
}
   textarea[placeholder]{
       padding-left: 2rem;
   }
    .contact-img{
        margin-left: 20%;
        height: 23rem;
        width: 23rem;
        margin-top: 1rem;

}
    .btn-submit{
        display: inline-block;
        padding: 1rem 3rem;
        text-decoration: none;
        background-color: #e67e22;
        color: #fff;
        border: none;
        margin-left: 60%;
        cursor: pointer;
        margin-top: 1rem;
}
}

/*small phones from 0 to 480px*/
@media only screen and (max-width:500px){
.contacts{
    margin-left: -7rem;
}

input[type=text] {
   background-color: #edebe5;
   border: none;
}

.contact-img{
    margin-left: 20%;
    height: 21rem;
    width: 20rem;
    margin-top: 1rem;

}
.myform{
    margin-right: 20%;
}
textarea{
    margin-top: 1rem;
    background-color: #edebe5;
    border: none;
    width: 100%;
}
.btn-submit{
    display: inline-block;
    padding: 1rem 3rem;
    text-decoration: none;
    background-color: #e67e22;
    color: #fff;
    border: none;
    margin-left: 50%;
    cursor: pointer;
}
     textarea[placeholder]{
       padding-left: 2rem;
   }

}