header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../images/image1.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}

.travel-text-box{
    position: absolute;
    top: 50%;
    left: 20%;
}
.travel{
    color: #ed5421;
    text-align: center;
    margin-right:10%;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 20px;
}
h1{
    margin: 0;
    color: #fff;
    font-size: 200%;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 1px;
    word-spacing: 4px;
}
.par-one{
    color: #fff;
    opacity: 0.4;
}

.btn-btn-contact:link,
.btn-btn-contact:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    background-color: #e67e22;
    color: #fff;
    
}
.btn-btn-contact:hover,
.btn-btn-contact:active{
    background-color: #61b69d;
}
.btn-btn-contact{
    margin-top: 20px;
    margin-left: 35%;
    transition: background-color 0.4s, border 0.4s, color 0.4s;
}
.design{
    color: #ed5421;
    position: absolute;
    margin-top: 30px;
    margin-left: 60px;
    font-style: italic;
    border-bottom: 1px solid #ed5421; 
}
.logo{
    color: #fff;
    position: absolute;
    margin-top: 30px;
}
.logo,
.design{
    float: left;
}
.main-nav{
    float: right;
    list-style: none;
    margin-right: 50px;
    
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a{
    color: #fff;
    text-decoration: none;
}
 .login{
    background-color: #e67e22;
    padding: 3px 8px;
    
}
.main-nav li a:link,
.main-nav li a:visited{
      padding: 8px 0;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.4s;
      


}
.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #ed5421;


}

/*Big tablet to 1200px (widths smaller that the 1140px row)*/
@media only screen and (max-width:1200px){
  
}
/*small tablets to big tablets: from 768px to 1023px*/
@media only screen and (max-width:1023px){
  .travel{
    color: #ed5421;
    text-align: center;
    margin-right:20%;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 16px;
}
h1{
    margin: 0;
    color: #fff;
    font-size: 150%;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.par-one{
    color: #fff;
    opacity: 0.4;
    font-size: 16px;
}
.btn-btn-contact{
    margin-top: 20px;
    margin-left: 30%;
    transition: background-color 0.4s, border 0.4s, color 0.4s;
}
     
}



/*small phones to small tablets: from 481px-767px*/
@media only screen and (max-width:767px){
.par-one{
    color: #fff;
    opacity: 0.4;
    font-size: 20px;
}
}


/*small phones from 0 to 480px*/
@media only screen and (max-width:500px){

    .main-nav{
    float: right;
    list-style: none;
    margin-right: 10px;
    
}

.main-nav li{
    display: inline-block;
    margin-left: 8px;
    font-size: 12px;
}
h1{
    margin: 0;
    color: #fff;
    font-size: 90%;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.design{
    color: #ed5421;
    font-size: 15px;
    
}
.logo{
    font-size: 15px;
    margin-left: 4px;
}
h1{
    margin-left: -40px; 
    margin-bottom: 10px;
}
.par-one{
    color: #fff;
    opacity: 0.4;
    font-size: 14px;
}
.btn-btn-contact{
    margin-left: 16%;
   
}
.travel{
    margin-top: -60px;
}
   
}
