.design{
    color: #ed5421;
    position: absolute;
    margin-top: 30px;
    margin-left: 60px;
    font-style: italic;
    border-bottom: 1px solid #ed5421; 
    
    
}
.logo{
    color: #fff;
    position: absolute;
    margin-top: 30px;
   
}
.logo,
.design{
    float: left;
 
   
}
.footer-section{
background-color: #282622;
    height: 380px;
   width: 100%;
}

.footer-one{
    font-size: 14px;
    color: #fff;
    padding-top: 40px;
    margin-left: 20%;
    text-align: justify;
    line-height: 20px;
}
.logedesign-footer{
    margin-left: 20%;
    margin-top: -30px;
}
.company{
    color: #fff;
    font-size: 16px;
    margin-left: 30px;   
}

.column-two{
    color: #fff;
    font-size: 14px;
    padding-top: 15px;
    margin-left: 30px;
}
.column-career{
    color: #ed5421;
    font-size: 14px;
    padding-top: 15px;
    margin-left: 30px;
}
.quick-links{
    color: #fff;
    font-size: 16px
}
.column-four{
    color: #fff;
    font-size: 14px;
    padding-top: 15px;
   
}

.connect-with-us{
    color: #fff;
    font-size: 16px;
}
.btn-subscribe{
    color: #fff;
    font-size: 16px;
    padding-top: 50px;
}
input[type=text] {
  width: 90%;
  padding: 8px 20px;
  margin-top: 10px;
  box-sizing: border-box;
}
.column-five{
     color: #fff;
    font-size: 14px;
    padding-top: 15px;
}

.travellers{
    color: #fff;
    font-size: 16px;
    
    
}
.column-three{
    color: #fff;
    font-size: 14px;
    padding-top: 15px;
   
}

.footer-section{
    height: 100%;
}
.footer-line{
    margin-top: 30%;
    border-top: 1px solid #fff;
    
}
.developer{
   
    margin-left: 28%;
    padding-top: 60px;
    color: #fff;
}

/*Big tablet to 1200px (widths smaller that the 1140px row)*/
@media only screen and (max-width:1200px){
   
  
}

/*small tablets to big tablets: from 768px to 1023px*/
@media only screen and (max-width:1023px){
.footer-one{
    font-size: 14px;
}
.footer-line{
    margin-top: 35%;
    border-top: 1px solid #b5bdbf;
    color: #fff;
    opacity: .8;
}
.developer{
    margin-left: 30px;
}
}

/*small phones to small tablets: from 481px-767px*/
@media only screen and (max-width:767px){
.logo,
.design{
    font-size:16px;
}
.design{
    margin-left: 40px;
}
.company,
.travellers,
.quick-links,
.connect-with-us{
    font-size: 12px;
     
}
.footer-one{
    font-size: 14px;
    margin-top: -10px;
}
.footer-button{
    margin-top: 45%; 
}

.column-three,
.column-four,
.column-five{
    font-size: 12px;
}
.column-career{
    font-size: 10px; 
}
.developer{
    font-size: 16px;
    margin-left: 20%;
}
input[type=text] {
  width: 90%;
 
}
}

/*small phones from 0 to 480px*/
@media only screen and (max-width:500px){
.logo,
.design{
    font-size:10px;
}

.design{
    margin-left: 25px;
}
.footer-section{
    background-color: #282622;
    height: 80%; 
    
}
.footer-one{
    font-size: 10px;
}
.footer-line{
    margin-top: 60%;
    border-top: 1px solid #b5bdbf;
    
}
.developer{
    font-size: 14px;
}
.btn-subscribe{
font-size: 10px;
   
}
.company,
.travellers,
.quick-links,
.connect-with-us{
   margin-left: 20%;    
}

.column-three,
.column-four,
.column-five{
    margin-left: 20%; 
}
.column-career{
    color: #ed5421;
    margin-left: 30%;
    font-size: 10px;
}

input[type=text] {
  width: 100%;
 
}

}